.game-creation-form__time-limit-option {
    display: inline-block;
    color: black;
    background-color: #D9D9D9;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}