.statistics__results-list {
    overflow-y: auto;

    box-sizing: border-box;
    background-color: #A6EFAE;
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 26px;
}

@media only screen and (max-width: 960px) {
    .statistics__results-list {
        height: 135px;
        width: 80%;
    }
}