.footer {
    display: block;
    width: 100%;
    background-color: #4C4C4C;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    /*float: right;*/
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    left: 0;
}