/* all links inside class="header__loginbuttons" */
.header__loginbuttons {
    display: inline-block;
    float: right;
}

/*
    text-decoration: none;
    color: white;
    background: #4C4C4C;
 */