.board {
    width: 330px;
    height: 330px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../../img/chessboard.png");
    background-size: contain;
    border-radius: 3px;
}