.header__slogan {
    display: inline-block;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 39px;
    padding-left: 30px;
}

@media only screen and (max-width: 630px) {
    .header__slogan {
        display: none;
    }
}