.statistics__game-result {
    border-radius: 10px;
    margin: 12px auto;
    font-weight: 400;
    width: 75%;
    background-color: #0E301E;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}