.statistics__partition {
    /*display: inline-block;*/
    display: table-cell;
    color: white;
}

.statistics__partition h1 {
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .statistics__partition {
        display: block;
    }

    .statistics__partition h1 {
        font-size: 18px;
    }
}